* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

/*why choose us */
.btn101 {
  background-color: orange;
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: white;
}

/*Faculty*/


#button {
  height: 40px;
  width: 150px;

  color: aliceblue;
  border-radius: 3px;
  border: none;
}

.img1 {
  height: 150px;
  width: 150px;
}

.img2 {
  height: 150px;
  width: 150px;
}

.img3 {
  height: 150px;
  width: 150px;
}

.img4 {
  height: 150px;
  width: 150px;
}

/*Faculty*/
/*form*/
/*form*/
/*footer*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.linked {
  text-decoration: none;
}

.container {
  font-family: var(--font-family);
}

/*footer*/
/* Academic section */
/* Academic section */
/* contactUs */
/* counter */
/* Add custom styles here */
.main {
  width: 100%;
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
  justify-content: center;
  /* Center items horizontally */
  gap: 25px;
}

.stude {
  width: calc(50% - 25px);
  /* Set each item to take 50% of the container minus gap */
  max-width: 300px;
  /* Limit the maximum width of each item */
  flex-direction: row;
  /* Stack items vertically */
  align-items: center;
  gap: 5px;
  text-align: center;
}

/* Media query for smaller screens */
@media screen and (max-width: 370px) {
  .stude {
    width: 100%;
    /* Each item takes full width on smaller screens */
  }
}

.img103 {
  width: 80px;
  height: 70px;
}

.stude {
  display: flex;
  align-items: center;
}

.h2103 {
  color: rgb(9, 148, 102);
  text-align: center;
  font-size: 10px;

}